# Gradle files
.gradle/
build/
**/build/

# IDE files
*.iml
.idea/
*.ipr
*.iws

# Keystores and Secrets
*.jks
*.keystore
debug.keystore
debug.keystore.base64
local.properties
.env

# OS files
.DS_Store
Thumbs.db
